/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #7e738e;
  font-size: 18px;
  background-color: #c5f7d1;
}

.container {
  background: #fffb85;
  max-width: 450px;
  margin-top: 50px;
}

h3 {
  font-size: 1.2rem;
}

/* Images styles */
.img-fluid {
  max-width: 80%;
}

img {
  margin-top: 20px;
}

/*Search Bar styles */
.input-group {
  max-width: 70%;
  margin: 0 auto;

}

input {
background-color: #fff4c6 !important;
}

.btn {
  background-color: #f9dd68 !important;
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

.intro {
  position: relative;
  top: 15px;
  margin: auto;
  text-align: center;
}

.intro button {
  background-color: rgb(22, 116, 159);
  border-radius: 5px;
  background-color: #f9dd68;
  border-color: #faec4d;
}

/* Error message styles */
.error  {
  text-align: center;
  margin-top: 10px;
  color: #ff5805;
}

/* Media queries */
@media only screen and (min-width: 800px) {
  .container {
    display: inline-block;
    width: 25%;
    margin-left: 30px;
    position: relative;
    left: 100px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .container {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    position: relative;
    left: 50px;
  }
}

@media only screen and (max-width: 499px) {
  .container {
    width: 70%;
    margin-left: 20px;
    position: relative;
    left: 30px;
  }
}
